<%- include('../header'); -%>
  <h1>Posts</h1>
  <ul>
    <% for (let i = 0; i < posts.length; i++) { %>
      <li>
        <a href="/posts/<%= i %>"><%= posts[i].title %></a>
      </li>
    <% } %>
  </ul>
  <p><a href="/posts/new">新規作成</a></p>
<%- include('../footer'); -%>
