<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%- content %></p>
    <hr />

    <div>
      <form action="" method="post">
        <input type="text" name="name" />
        <input type="submit" value="投稿する" />
        <ul>
          <% for (let i = 0; i < posts.length; i++) { %>
          <li><%= posts[i] %></li>
          <% } %>
        </ul>
      </form>
    </div>
  </body>
</html>
